@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1>Projekt na przedmiot Bazy Danych</h1>

<h4>Wykonali:</h4>
<h4>Mikołaj Malcherek</h4>
<h4>Jakub Jankowiak</h4>


@*<div class="card-deck">
    @foreach (var zawodnik in Model.zawodnicy)
    {
        <div>
            <h2>@zawodnik.imie_zawodnika @zawodnik.nazwisko_zawodnika</h2>
        </div>
    }
</div>*@


